results/
results_release/
baseline_ckpt/
training-runs/
dataset/
results/
images/
.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
*.png
*.jsonl
*.txt
gif
archive
*.ply
eval
out
# evaluation:
temp/
shapes/
imgs/
vids/
*.mp4

